*{
    margin: 0;
    padding: 0;
}

#background-header{
    display: block;
    margin: 0;
    height: 170px;
    background-image: url("../img/pattern.png");
    background: cover;
    background-color: rgb(0, 162, 255);
    position: relative;
}

#logo{
    width: 300px;
    position: absolute;
    bottom: 15px;
    left: 10px;
}

h1{
    margin-left: 10px;
    font-size: 60px;
    margin-bottom: 0;
}

h2, #data{
    margin-left: 10px;
    color: rgba(128, 128, 128, 0.5);
    margin-top: 0;
    margin-bottom: 0;
}

#data{
    margin-bottom: 20px;
}

#autore{
    margin-left: 10px;
    color: cyan;
    margin-left: 0;
}

#foto1, #foto2{
    height: 500px;
}

section{
    margin-left: 10px;
}

